@import '../../variables';

.Footer {
  display: flex;
  height: 20rem;
  background-color: #114593;
  color: #fff;
  width: 100%;
  padding: 4rem $side-margin;

  &__links {
    flex-shrink: 0;
    width: 20rem;

    & p {
      font-size: 1.2rem;
    }
  }

  &__social a {
    font-size: 2.5rem;
    color: #fff;

    &:visited {
      color: #fff;
    }

    & svg {
      margin-right: 2rem;
    }
  }

  &__title {
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    list-style: none;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__item {
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 1.5rem;
    color: $grey-text;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &__copyright {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    font-size: 1rem;
    color: $grey-text;
  }
}
